/marco teorico sobre politicas de backup y recuperacion.txt
/marco teorico sobre politicas de backup y recuperacion.txt:Zone.Identifier
/objetivos de investigacion.txt
/objetivos de investigacion.txt:Zone.Identifier
/test_incremental_backup.py